
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F6F8F9;
}

header{
  background-color: white;
}

.header-top img{
  width: 60px;
  max-width: 100%;
}

main {
  background-color:white;
  width: 500px;
  padding-right: 50px;
  padding-left: 50px;
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
}

.contenuto1{
  border-top: 1px solid lightgray;
}

.titolo{
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
}

img{
  vertical-align: middle;
}

.addtask , .addsection {
text-align: center;
font-size: 15px;
padding: 8px;
border-radius: 5px;
margin-top: 15px;
margin-bottom: 10px;
}

.addtask{
background-color: #47ADF1 ;
color: white;
border: #47ADF1;
}

.addsection{
background-color: white;
color: grey;
border: 1px solid grey
}

.namelist{
  font-size: 25px;
  margin-top: 20px;
  
}

p{
margin-top: 20px;

}

.bordo1, .bordo2, .bordo8{
  background-color: #45ABEA;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.bordo3 {
  background-color: #9C72E4;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}


.bordo4{
  background-color: #64C0A9;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.bordo5{
  background-color:#F29E33;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.bordo6{
  background-color:#D863A1;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.bordo7{
  background-color:#B0C926;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.verified{
  border-radius: 50%;
  color: green;
  border: 1px solid green;
  padding: 3px;
}

.cross{
  border-radius: 50%;
  color: red;
  border: 1px solid red;
  padding: 3px;
}









